body {
  background: rgb(24, 24, 24);
  font-family: "Rubik", sans-serif;
}

#wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

header img {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.searchbar {
  margin: 0 auto;
  display: flex;
  padding: 1rem 0.2rem;
}

.searchbar input {
  border: 0;
  padding: 0.5rem;
  font-size: large;
  flex-grow: 2;
}

.searchbar input:focus {
  color: white;
  background: rgb(66, 66, 66);
  border: 0;
  outline: 0;
}

.searchbar i {
  margin: 0;
  color: white;
  padding: 0.5rem;
  font-size: large;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  gap: 6px;
}

content ul li {
  max-width: 49%;
}

content ul li img {
  max-width: 100%;
}

.resultsList {
  background: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.resultsList li img {
  width: 100%;
}

footer {
  padding-top: 2rem;
  color: rgb(66, 66, 66);
  text-align: center;
}
